<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <h1>Flask App</h1>
    
    <h2>Results:</h2>
    
    <p>Result of add: {{ result_add }}</p>
    <p>Result of subtract: {{ result_subtract }}</p>
    <p>Result of sum_of_digits: {{ result_sum_digits }}</p>
    <p>Result of is_palindrome: {{ result_is_palindrome }}</p>
    <p>Result of myzip: {{ result_zip }}</p>
</body>
</html>
